.navbar {
    background-color: #00131a;
}

#logo {
    padding-left: 10px;
    padding-right: 20px;
    height: 40px;
}

#title {
    font-size: 25px;
    font-family: 'Lemonada', cursive;
    color: white;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url('../assets/bg1.jpeg');
    background-color: #142136;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#dp1 {
    height: 30px;
    border-radius: 50%;
}

#maincontainer {
    border-radius: 5px;
    width: 900px;
    height: 640px;
    font-family: 'Times New Roman';
    color: black;
    position: relative;
    top: 80px;
    background-color: white;
    padding: 0%;
}

#contactUsImage {
    padding-top: 80px;
    height: 450px;
}

h1 {
    padding-left: 20px;
    font-family: 'Sriracha', cursive;
    padding-top: 20px;
}

#about {
    padding-top: 20px;
    padding-left: 25px;
    font-family: 'Chilanka', cursive;
}