body {
    background-image: url('../assets/loginbackground.jpg');
}

#maincontainer {
    border-radius: 5px;
    width: 900px;
    height: 640px;
    color: black;
    text-align: center;
    background-color: white;
    position: relative;
    top: 150px;
    padding: 0px;
    /* border: rgb(230, 221, 221) 3px solid; */
    box-shadow: 1px 2px 10px 5px rgba(226, 222, 222, 0.404);
}

#imageside {
    background-image: url('../assets/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #96d5e7;
    color: white;
    width: 100%;
    font-family: 'Rowdies', cursive;
    height: 640px;
    padding-top: 50px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

#adminlogo {
    height: 100px;
}

.usrData {
    padding: 2%;
    background-color: rgb(155, 226, 226);
    border-radius: 20px;
    border: none;
    width: 400px;
    height: 100%;
}

#logintitle {
    text-align: left;
    font-family: 'Acme', sans-serif;
}

#textside {
    text-align: left;
}

p {
    padding-top: 20px;
}

input:focus {
    outline: none !important;
}

#forgottext {
    font-size: 10px;
}

a {
    color: black;
}

.btn-outline-dark {
    border: none;
    border-radius: 20px;
    background-color: #3CA2F3;
    color: white;
    width: 400px;
}

.spinner {
    border-radius: 100%;
    background-color: cyan;
    height: 50px;
    width: 50px;
    border-top: 5px solid rgb(150, 150, 255);
    border-left: 5px solid red;
    animation: rotateAnim linear 2s infinite;
}

@keyframes rotateAnim {
    0% {
        transform: rotate(0deg);
        box-shadow: 0 0 30px rgba(150, 150, 150, 0.8);
    }
    50% {
        box-shadow: 0 0 10px rgba(150, 150, 150, 0.8);
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 0 0 30px rgba(150, 150, 150, 0.8);
    }
}

#dlgbx {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 8, 8, 0.425);
}

#dlgbxBody {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    margin-top: -15%;
    margin-left: -15%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

#dlgbx table {
    margin-top: 2%;
}

#forgot {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}