.navbar {
    background-color: #00131a;
    color: white;
}

#logo {
    padding-left: 10px;
    padding-right: 20px;
    height: 40px;
}

#dp1 {
    height: 30px;
    border-radius: 50%;
}

.nav-item {
    box-shadow: 0 0 0px grey;
    transition-duration: 500ms;
}

.nav-item:hover {
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(70, 70, 70);
}

.row {
    height: 50%;
}

.jumbotron {
    border-radius: 0;
}

#description {
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(50, 50, 50, 0.2);
}


/* Book cover CSS */


/*  */


/* Expand CSS */

#expand i {
    transition-duration: 300ms;
}

#expand i:checked {
    transform: rotate(180deg);
}


/* Review */

#reviews {
    background-color: white;
}

input[type="text"] {
    border: 2px solid rgba(200, 200, 255);
    width: 100%;
}

#ratingDiv {
    padding: 1%;
}

#search {
    /* border-radius: 100%; */
    text-align: center;
}

#dlgbx {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

#dlgbxBody {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    margin-top: -15%;
    margin-left: -15%;
    background-color: white;
    padding: 20px;
    border-radius: 40px;
}

#dlgbx table {
    margin-top: 5%;
}

#title {
    font-size: 25px;
    font-family: 'Lemonada', cursive;
    color: white;
}

#write {
    padding-left: 20px;
}

#r,
#write {
    font-family: 'Lemonada', cursive;
}