.navbar {
    background-color: #00131a;
}

#logo {
    padding-left: 10px;
    padding-right: 20px;
    height: 40px;
}

#title {
    font-size: 25px;
    font-family: 'Lemonada', cursive;
    color: white;
}

body {
    background-image: url('../assets/Icons/map.jpg');
    size: 100%;
}

#dp1 {
    height: 30px;
    border-radius: 50%;
}

#mainContainer {
    height: 520px;
    width: 900px;
    background-color: white;
}

#col {
    padding-top: 200px;
}

#c1 {
    padding-right: 500px;
}

#body2 {
    background-image: url('../assets/Icons/map.jpg');
}

#imageside {
    background-color: #00131a;
}

#heading1 {
    padding-top: 20px;
    color: black;
}

#textsize {
    font-size: 10px;
}

textarea {
    outline-color: #719ECE;
}

h5 {
    padding-top: 20px;
    color: white;
}

#location {
    height: 30px;
}

h6 {
    color: white;
    font-size: 14px;
}

#phone {
    padding-top: 15px;
    padding-left: 6px;
    height: 35px;
}

#mail {
    padding-left: 6px;
    height: 20px;
}