.navbar {
    background-color: #00131a;
}

#logo {
    padding-left: 10px;
    padding-right: 20px;
    height: 40px;
}

#title {
    font-size: 25px;
    font-family: 'Lemonada', cursive;
    color: white;
}

body {
    background-image: url('../assets/Icons/map.jpg');
    size: 100%;
}

#dp1 {
    height: 30px;
    border-radius: 50%;
}

#mainContainer {
    height: 520px;
    width: 900px;
    background-color: white;
}

#col {
    padding-top: 200px;
}

#c1 {
    padding-right: 500px;
}

#body2 {
    background-image: url('../assets/Icons/map.jpg');
}

#imageside {
    background-color: #00131a;
}

#heading1 {
    padding-top: 20px;
    color: black;
}

#textsize {
    font-size: 10px;
}

textarea {
    outline-color: #719ECE;
}

h5 {
    padding-top: 20px;
    color: white;
}

#location {
    height: 30px;
}

h6 {
    color: white;
    font-size: 14px;
}

#phone {
    padding-top: 15px;
    padding-left: 6px;
    height: 35px;
}

html,
body {
    height: 100%;
}

#mail {
    padding-left: 6px;
    height: 20px;
}

#dlgbx {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 8, 8, 0.425);
}

#dlgbxBody {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    margin-top: -15%;
    margin-left: -15%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

#dlgbx table {
    margin-top: 2%;
}