.navbar {
    background-color: #00131a;
}

#logo {
    padding-left: 10px;
    padding-right: 20px;
    height: 40px;
}
#title {
    font-size: 25px;
    font-family: 'Lemonada', cursive;
    color: white;
}
#dashboard {
    background-color: #02171f;
}

#dp {
    height: 70px;
    border-radius: 50%;
}
#name {
    color: white;
    padding-top: 40px;
    padding-left: 20px;
}
hr.solid {
    border-top: 1px solid #bbb;
}

.fa {
    padding: 10px;
    color: white;
}

#profile {
    padding-top: 5px;
    text-align: start;
    color: white;
}

#profile_img{
 width: 250px;
 height: 250px;
 border-radius: 150px;
 border: #00131a solid 10px;
}
#imagediv{
    position: relative;
    top: -50px;
    left: 160px;
    width: 50px;
    height: 50px;
    color:white;
    background-color: black;
    border-radius: 40px;
}
#cameraicon{
    position: relative;
    top: 10px;
    left: 10px;
}

input {
    border-color:#00131a;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: white;
    padding-left:40px;
    width: 235px;
    
  }
 
  input:focus {
    border-bottom-style: groove;
    border-color:#0784eb;
    outline: none;
}

input:disabled{
    color: black;
}

.btn-outline-dark {
    border-color: #0784eb;
    /* position: relative;
    left: 200px; */
    background-color: #00131a;
    color: white;
}

.btn-outline-dark:hover {
    background-color: white;
    color: black;
    border-color: #00131a;
}
#editdiv{
    background-color: black;
}
#label{
    position: relative;
    font-size: 13px;
    color: grey;
}

#ficon,#licon,#passicon,#confirm_passicon,#emailicon,#phoneicon,#dobicon,#gendericon{
    color: black;
    position: relative;
    top: -32px;
    left: 0px;
}

#submitbutton{
    display:none;
}
.filelabel{
    display: none;
}

#confirm_pass,#confirm_passicon,#confirmlabel{
    display: none;
}