#navbar {
    background-color: #00131a;
}

body {
    background-image: url("../assets/bg/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

dialog {
    width: 1200px;
    height: 450px;
    font-family: 'Times New Roman';
    color: black;
    position: relative;
    top: 80px;
    background-color: white;
    border: grey 3px solid;
    box-shadow: 1px 2px 10px 5px grey;
    padding: 0%;
}

#imagediv {
    height: 100%;
    width: 35%;
    float: left;
    background-color: #00131a;
}

#image {
    width: 100%;
    height: 100%;
}

#file {
    display: none;
}

.filelabel {
    position: relative;
    top: -60%;
    left: 40%;
    color: white;
}

#data {
    float: left;
    width: 65%;
    height: 100%;
    padding-top: 3%;
}

input {
    border-radius: 20px;
    border: 1px solid #0784eb;
    background-color: white;
    color: grey;
    padding-left: 10px;
   
}

input:focus {
    border: 2px solid #0784eb;
    outline: none;
}

#fnlabel,
#emlabel,
#passlabel,
#pnlabel,
#msg,
#doblabel {
    padding-left: 1%;
}

#genderlabel {
    padding-left: 15%;
}

#pnlabel {
    padding-left: 14.5%;
}

#fn,
#ln,
#pass,
#confirm_pass {
    width: 30%;
}

#lnlabel {
    position: relative;
    left: 10%;
}

#fn {
    position: relative;
    left: 1%;
    width: 30%;
}

#ln {
    position: relative;
    left: 16%;
}

#em {
    position: relative;
    left: 6%;
    width: 30%;
}

#pass {
    position: relative;
    left: 3%;
    width: 30%;
}

#confirm_passlabel {
    position: relative;
    left: 11%;
}

#confirm_pass {
    position: relative;
    left: 12%;
}

#msg {
    color: red;
}

#pn {
    position: relative;
    left: 7%;
    width: 30%;
}

#m {
    margin-left: 5%
}

#f {
    margin-left: 6%
}

#dob {
    position: relative;
    left: 6.8%;
    width: 30%;
}

.btn-outline-dark {
    border-color: #0784eb;
    position: relative;
    left: 300px;
    background-color: #00131a;
    color: white;
}

.btn-outline-dark:hover {
    background-color: white;
    color: black;
    border-color: #0784eb;
}

#heading {
    padding-left: 10px;
}