.navbar {
    background-color: #00131a;
}

html,
body {
    height: 100%;
}

#logo {
    padding-left: 10px;
    padding-right: 20px;
    height: 40px;
}

#title {
    font-size: 25px;
    font-family: 'Lemonada', cursive;
    color: white;
}

#dashboarddiv {
    background-color: #02171f;
}

#dp {
    height: 70px;
    border-radius: 50%;
}

#namediv {
    color: white;
    padding-top: 40px;
    padding-left: 20px;
}

hr.solid {
    border-top: 1px solid #bbb;
}

.fa {
    padding: 10px;
    color: white;
}

#profilediv,
#issuedbooksdiv,
#historydiv,
#pastduediv,
#logoutdiv {
    padding-top: 5px;
    text-align: start;
    color: white;
}

#profile_img {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    border: #00131a solid 10px;
}

#imagediv {
    position: relative;
    text-align: center;
    top: -50px;
    left: 160px;
    width: 50px;
    height: 50px;
    color: white;
    background-color: black;
    border-radius: 40px;
}

#cameraicon {
    position: relative;
    top: 15px;
}

input {
    border-color: #00131a;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: white;
    padding-left: 40px;
    width: 290px;
}

input:focus {
    border-bottom-style: groove;
    border-color: #0784eb;
    outline: none;
}

input:disabled {
    color: black;
}

.btn-outline-dark {
    border-color: #0784eb;
    /* position: relative;
    left: 200px; */
    background-color: #00131a;
    color: white;
}

.btn-outline-dark:hover {
    background-color: white;
    color: black;
    border-color: #00131a;
}

#editdiv {
    background-color: black;
}

#label {
    position: relative;
    font-size: 13px;
    color: grey;
}

#ficon,
#licon,
#passicon,
#confirm_passicon,
#emailicon,
#phoneicon,
#dobicon,
#gendericon {
    color: black;
    position: relative;
    top: -32px;
    left: 0px;
}

#dp1 {
    height: 30px;
    border-radius: 50%;
}

#submitbutton {
    display: none;
}

.filelabel {
    display: none;
}

#confirm_pass,
#confirm_passicon,
#confirmlabel {
    display: none;
}

#edit {
    width: 200px;
}

.Container-fluid {
    height: 100%;
}

a:hover {
    color: #00e6e6;
    text-decoration: none;
}

#namediv:hover {
    color: #00e6e6;
}


/* a:active{
    color:white;
} */

a {
    color: white;
}

#memID {
    visibility: hidden;
}

#t1 {
    font-weight: bolder;
}

.container-fluid {
    height: 100%;
    width: 100%;
}

#mainrow {
    height: 100%;
    width: 100%;
}

#t1 {
    font-weight: bolder;
}

#b {
    color: white;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}