.navbar {
    background-color: #00131a;
}

#logo {
    padding-left: 10px;
    padding-right: 20px;
    height: 40px;
}

html,
body {
    height: 100%;
}

hr.solid {
    border-top: 1px solid #bbb;
}

body {
    background-color: #142136;
}

#title {
    font-size: 25px;
    font-family: 'Lemonada', cursive;
    color: white;
}

#dashboarddiv {
    background-color: #02171f;
}

#dp {
    height: 70px;
    border-radius: 50%;
}

#dp1 {
    height: 30px;
    border-radius: 50%;
}

#profilediv,
#issuedbooksdiv,
#historydiv,
#pastduediv,
#logoutdiv {
    padding-top: 5px;
    text-align: start;
    color: white;
}

a {
    color: white;
}

.fa {
    padding: 10px;
    color: white;
}

#namediv {
    color: white;
    padding-top: 40px;
    padding-left: 20px;
}

#heading {
    padding-top: 30px;
    font-size: 50px;
    color: white;
    font-family: 'Lemonada', cursive;
}

.table-bordered {
    border-radius: 10px;
    border: 2px transparent solid;
}

#Activitytable {
    box-shadow: 1px 2px 10px 5px grey;
}

a:hover {
    color: #00e6e6;
    text-decoration: none;
}

#namediv:hover {
    color: #00e6e6;
}

.container-fluid {
    height: 100%;
    width: 100%;
}

#mainrow {
    height: 100%;
    width: 100%;
}

#t1 {
    font-weight: bolder;
}

.loader {
    border-top: 6px solid rgb(241, 241, 241);
    border-bottom: 6px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#b {
    color: white;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: transparent
}

 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#02171f), to(#ffff));
    background-image: -webkit-linear-gradient(bottom, #02171f 0%, #ffff 100%);
    background-image: linear-gradient(to top, #02171f 0%, #ffff 100%);
}