.navbar {
    background-color: #00131a;
}

#logo {
    padding-left: 10px;
    padding-right: 20px;
    height: 40px;
}

html,
body {
    height: 100%;
}

hr.solid {
    border-top: 1px solid #bbb;
}

body {
    background-color: #142136;
}

#title {
    font-size: 25px;
    font-family: 'Lemonada', cursive;
    color: white;
}

#dashboarddiv {
    background-color: #02171f;
}

#dp {
    height: 70px;
    border-radius: 50%;
}

#dp1 {
    height: 30px;
    border-radius: 50%;
}

#profilediv,#issuedbooksdiv,#historydiv,#pastduediv,#logoutdiv {
    padding-top: 5px;
    text-align: start;
    color: white;
}

a {
    color: white;
}

.fa {
    color: white;
}

#namediv {
    color: white;
    padding-top: 40px;
    padding-left: 20px;
}



#heading {
    padding-top: 30px;
    font-size: 50px;
    color: white;
    font-family: 'Lemonada', cursive;
}

.table-bordered{
    border-radius: 10px;
    border: 2px transparent solid ;
    
}

#Activitytable{
    box-shadow: 1px 2px 10px 5px grey;
}


a:hover{
    color:#00e6e6;
    text-decoration: none;
}
#name:hover{
    color:#00e6e6;  
}


