html,
body {
    height: 100%;
    margin: 0;
    color: white;
}

h2 {
    font-size: 4rem;
}

.row {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

#imgDiv {
    text-align: center;
    color: white;
    background-image: url('../assets/carousel/2.jpg');
}

#imgDiv h2,
#imgDiv h3 {
    position: relative;
    top: 20%;
}

#imgDiv img {
    position: relative;
    top: 20%;
    width: 20%;
}

#imgDiv img :hover {
    box-shadow: 0 0 30px black;
}


/* Form */

#formDiv {
    margin: auto;
    width: 50%;
}

form {
    padding: 6%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: Arial;
    line-height: 2rem;
}

.usrData {
    padding: 2%;
    background-color: teal;
    border-radius: 20px;
    border: none;
    width: 100%;
}

#showPassword {
    margin-top: 15px;
    margin-right: 10px;
}

.btn {
    border-radius: 30px;
    padding: 10px 50px;
    margin: 10px;
}

.btn-dark {
    box-shadow: 0 0 10px rgb(45, 45, 45);
}

.btn-outline-dark {
    border: none;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px black;
}

.spinner {
    border-radius: 100%;
    background-color: cyan;
    height: 50px;
    width: 50px;
    border-top: 5px solid rgb(150, 150, 255);
    border-left: 5px solid red;
    animation: rotateAnim linear 2s infinite;
}

@keyframes rotateAnim {
    0% {
        transform: rotate(0deg);
        box-shadow: 0 0 30px rgba(150, 150, 150, 0.8);
    }
    50% {
        box-shadow: 0 0 10px rgba(150, 150, 150, 0.8);
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 0 0 30px rgba(150, 150, 150, 0.8);
    }
}