        html,
        body {
            background-color: azure;
            height: 100%;
        }
        
        .container-fluid {
            height: 100%;
        }
        
        #sidemenu.row {
            height: 100%;
        }
        
        #tag {
            background-color: black;
        }
        
        ul {
            list-style-type: none;
        }
        
        ul.sideNav {
            margin-top: 25%;
        }
        
        .sideNav li {
            position: relative;
            z-index: 0;
            padding: 10% 0;
            transition: linear 200ms;
        }
        
        .sideNav li:hover {
            margin: 5% 0;
            padding: 6%;
            box-shadow: 0 0 20px rgba(150, 150, 150, 0.5);
            z-index: 100;
        }
        
        #subMenuItems {
            background-color: black;
            padding: 6%;
        }
        
        #buttons {
            position: absolute;
            bottom: 0;
        }
        
        #leftNav {
            position: fixed;
            top: 0px;
            left: 0px;
            bottom: 0px;
            z-index: 2;
        }
        
        #bookheading,
        #userheading {
            font-family: 'Lemonada', cursive;
            color: black;
        }
        
        #booktable,
        #usertable {
            box-shadow: 1px 2px 10px 5px rgba(150, 150, 150, 0.2);
        }
        
        .table-bordered {
            border-radius: 10px;
            border: 2px transparent solid;
        }
        
        #trash {
            color: red;
        }
        
        #update {
            color: green;
        }
        
        .btn {
            border-radius: 100px;
        }
        
        .btn:active {
            box-shadow: 1px 2px 10px 5px grey;
        }
        
        .btn-outline-dark {
            border-color: #0784eb;
            background-color: #00131a;
            color: #00e6e6;
            border-radius: 0;
        }
        
        .btn-outline-dark:hover {
            background-color: white;
            color: #00e6e6;
            border-color: #00e6e6;
        }
        
        #nameanchor {
            color: black;
        }
        
        #nameanchor:hover {
            color: #00e6e6;
            text-decoration: none;
        }
        
        #nameanchor:active {
            color: #00e6e6;
            text-decoration: none;
        }
        
         ::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }
        
         ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-image: -webkit-gradient(linear, left bottom, left top, from(#00e6e6), to(#00090c));
            background-image: -webkit-linear-gradient(bottom, #00e6e6 0%, #00090c 100%);
            background-image: linear-gradient(to top, #00e6e6 0%, #00090c 100%);
        }
        
        #dlgbx {
            /* display: none; */
            position: fixed;
            z-index: 5;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: rgba(12, 8, 8, 0.5);
        }
        
        #dlgbxBody {
            position: relative;
            top: 50%;
            left: 50%;
            width: 50%;
            height: 100%;
            margin-top: -25%;
            margin-left: -25%;
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            border-radius: 20px;
            box-shadow: 0 0 30px rgba(12, 12, 12, 0.5);
        }
        
        #dlgbx h1 {
            margin-bottom: 5%;
        }
        
        #dlgbx .row {
            margin-bottom: 5%;
            text-align: left;
        }
        
        #dlgbx input,
        #dlgbx select {
            width: 100%;
        }
        
        #camera-icon {
            width: 50%;
            padding: 10% 0;
            background-color: black;
            color: white;
            border-radius: 20px;
        }
        
        #refresh {
            border-radius: 0px;
            margin: 4% 0;
        }
        
        #file {
            display: none;
        }