        html,body {
            background-color: azure;
            height: 100%;
        }
        
        .container-fluid {
            height: 100%;
        }
        
        #sidemenu.row {
            height: 100%;
        }
        
        #tag {
            background-color: black;
        }
        
        ul {
            list-style-type: none;
        }
        
        ul.sideNav {
            margin-top: 25%;
        }
        
        .sideNav li {
            position: relative;
            z-index: 0;
            padding: 10% 0;
            transition: linear 200ms;
        }
        
        .sideNav li:hover {
            margin: 5% 0;
            padding: 6%;
            box-shadow: 0 0 20px rgba(150, 150, 150, 0.5);
            z-index: 100;
        }
        
        #subMenuItems {
            background-color: black;
            padding: 6%;
        }
        
        #buttons {
            position: absolute;
            bottom: 0;
        }
        
        #leftNav {
            position: fixed;
            top: 0px;
            left: 0px;
            bottom: 0px;
            z-index: 2;
        }

        #bookheading,#userheading{
        font-family: 'Lemonada', cursive;
        color: black;
        }

        

        #booktable,#usertable{
            box-shadow: 1px 2px 10px 5px grey;
        }
        .table-bordered{
            border-radius: 10px;
            border: 2px transparent solid ;
        }
        #trash{
            color: red;
        }
        #update{
            color: green;
        }
        .btn{
            border-radius:100px;
        }
        .btn:active{
            box-shadow:1px 2px 10px 5px grey;
        }

        .btn-outline-dark {
            border-color: #0784eb;
            background-color: #00131a;
            color: #00e6e6;
            border-radius: 0;
        }
        
        .btn-outline-dark:hover {
            background-color: white;
            color: #00e6e6;
            border-color: #00e6e6;
        }
        
        #nameanchor{
            color:black;
        }
        #nameanchor:hover{
            color: #00e6e6;
            text-decoration: none;
        }
        #nameanchor:active{
            color:#00e6e6;
            text-decoration: none;
        }
        
        #addbutton{
            position: relative;
            left: 75px;
        }