.navbar {
    background-color: #00131a;
}

#logo {
    padding-left: 10px;
    padding-right: 20px;
    height: 40px;
}

html,
body {
    height: 100%;
}

hr.solid {
    border-top: 1px solid #bbb;
}

body {
    background-color: #142136;
}

#title {
    font-size: 25px;
    font-family: 'Lemonada', cursive;
    color: white;
}

#dashboarddiv {
    background-color: #02171f;
}

#dp {
    height: 70px;
    border-radius: 50%;
}

#dp1 {
    height: 30px;
    border-radius: 50%;
}

#profilediv,
#issuedbooksdiv,
#historydiv,
#pastduediv,
#logoutdiv {
    padding-top: 5px;
    text-align: start;
    color: white;
}

a {
    color: white;
}

.fa {
    padding: 10px;
    color: white;
}

#namediv {
    color: white;
    padding-top: 40px;
    padding-left: 20px;
}

#totalbooks1 {
    text-align: center;
    font-family: 'Lemonada', cursive;
    background-color: orange;
    color: white;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

#total {
    padding-top: 25px;
}

.heading {
    padding-top: 30px;
    font-size: 50px;
    color: white;
    font-family: 'Lemonada', cursive;
}

#tabledata {
    border-radius: 5px;
}

.container-fluid {
    height: 100%;
    width: 100%;
}

#mainrow {
    height: 100%;
    width: 100%;
}

#tableheight {
    height: 10px;
}

#datatable {
    overflow: scroll;
}

a:hover {
    color: #00e6e6;
    text-decoration: none;
}

#namediv:hover {
    color: #00e6e6;
}

#newarrival {
    border-radius: 10px;
    height: 220px;
    width: 1200px;
    background-color: white;
}

#book {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    height: 180px;
}

#t {
    padding-left: 20px;
}

#line {
    border-bottom: 10px solid rgb(17, 13, 13);
}

h1 {
    font-family: 'Lemonada', cursive;
    color: white;
}

#c1 {
    height: 20px;
    width: 60px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

#c2 {
    height: 20px;
    width: 60px;
    border-radius: 10px;
    background-color: white;
}

#view {
    padding-top: 2px;
    color: rgb(90, 90, 231);
    font-size: 10px;
    font-weight: bold;
}

#return {
    color: rgb(168, 20, 20);
    font-size: 10px;
    padding-top: 2px;
    font-weight: bold;
}

#t1 {
    font-weight: bolder;
}

#t2 {
    padding-left: 30px;
    padding-bottom: 50px;
}

#dlgbx {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 8, 8, 0.425);
}

#dlgbxBody {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    margin-top: -15%;
    margin-left: -15%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

#dlgbx table {
    margin-top: 5%;
}

#hide {
    position: relative;
    left: 10px;
    right: 10px;
    padding-right: 10px;
    text-align: center;
    height: 20px;
    width: 60px;
    border-radius: 10px;
    background-color: white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: transparent
}

 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#02171f), to(#ffff));
    background-image: -webkit-linear-gradient(bottom, #02171f 0%, #ffff 100%);
    background-image: linear-gradient(to top, #02171f 0%, #ffff 100%);
}