html,
body {
    background-color: azure;
    height: 100%;
}

.container-fluid {
    height: 100%;
}

#sidemenu.row {
    height: 100%;
}

#tag {
    background-color: black;
}

ul {
    list-style-type: none;
}

ul.sideNav {
    margin-top: 25%;
}

.sideNav li {
    position: relative;
    z-index: 0;
    padding: 10% 0;
    transition: linear 200ms;
}

.sideNav li:hover {
    margin: 5% 0;
    padding: 6%;
    box-shadow: 0 0 20px rgba(150, 150, 150, 0.5);
    z-index: 100;
}

#subMenuItems {
    background-color: black;
    padding: 6%;
}

#buttons {
    position: absolute;
    bottom: 0;
}

#statsCards div.col-3 {
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 30px rgba(150, 150, 150, 0.5);
    border-radius: 20px;
}

.graph {
    padding: 1%;
    margin: 0 auto;
    box-shadow: 0 0 30px rgba(150, 150, 150, 0.5);
    border-radius: 20px;
}

#logo {
    animation: rotateAnim 10s linear infinite;
}

@keyframes rotateAnim {
    0% {
        transform: rotateY(0);
    }
    50% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

#leftNav {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 2;
}

a {
    color: white;
}

#admin_name {
    font-size: 0.8rem;
}

#admin_img {
    border-radius: 100%;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: black;
    display: inline-block;
}

progress[value]::-webkit-progress-value {
    background-color: red;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#00e6e6), to(#00090c));
    background-image: -webkit-linear-gradient(bottom, #00e6e6 0%, #00090c 100%);
    background-image: linear-gradient(to top, #00e6e6 0%, #00090c 100%);
}